<!DOCTYPE html>
<html>
  <head>
      <title>{{.Name}}</title>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
      <link href='//fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300,300italic' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/w/snap.css">
  </head>

  <body>
    <div class="container-fluid">
        <h2>{{.Name}}</h2>
        <p>
            <div>{{.Description}}</div>
            <div>Started {{.Start.Format "Jan 2, 2006 at 3:04pm MST"}}</div>
            <div>Ends {{.End}}</div>
            <div>Created By {{.Creator}}</div>
            <div>Modified {{.Modified}}</div>
        </p>

        {{range .Posts}}
        <div class="row">
            <div class="col-md-1">[score?]</div>
            <div class="col-md-1"><a href="/u/{{.Username}}">{{.Username}}</a></div>
            <div class="col-md-8"><a href="/p/{{.ID}}">{{.Text}}</a></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="{{.Image}}_thumb"></img>
            </div>
        </div>
        {{end}}
    </div>
  </body>
</html>
