<!DOCTYPE html>
<html>
  <head>
      <title>{{.Text}}</title>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
      <link href='//fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300,300italic' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/w/snap.css">
  </head>
  <body>
    <div class="container-fluid">
        <h2>{{.Username}}</h2>
        <div>Posted {{.Created}}</div>
        <div>{{.Text}}</div>
        <img src="{{.Image}}_view"></img>
    </div>
  </body>
</html>
